.buttons{
  @include size(190px, 50px);
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border: 1px solid currentColor;
  color: var(--title);
  text-transform: uppercase;
  margin-bottom: 60px;
  transition: all .3s ease;
  &:hover{
    background: #000;
    color: #fff;
  }
  &--gallery{
    margin-bottom: 0;
  }
}