$font: 'Gotham Book', sans-serif;
$font-b: 'Gotham Bold', sans-serif;
$font-m: 'Gotham Medium', sans-serif;
$font-s: 'Open Sans', sans-serif;

:root {
  --color-w: #fff;
  --title: #2c4058;
}
