.footer{
  background: url('../images/bg-footer.jpg') no-repeat center;
  background-size: cover;
  padding: 200px 0;
  position: relative;
  &--navigation{
    margin-bottom: 40px;
  }
  &__text{
    color: var(--color-w);
  }
  &__line{
    margin: 0 5px;
    font-size: 18px;
  }
  &__wrapper{
    margin: 0 200px;
  }
}