@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?fwm15i');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e906";
}
.icon-marker:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
  color: #c4c4c4;
}
.icon-twitter:before {
  content: "\e90a";
}
